<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common :: common-css">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Detail</title>
</head>

<body>
<div th:replace="fragments/common :: top-bar"></div>
<div th:replace="fragments/common :: left-sidebar"></div>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <h4 class="page-title float-left">Dashboard</h4>

                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="/">eP Evaluation</a></li>
                            <li class="breadcrumb-item active">Detail</li>
                        </ol>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div th:replace="fragments/common :: common-chart"></div>

        </div> <!-- container -->

    </div> <!-- content -->


    <div th:replace="fragments/common :: footer"></div>
    <input id="modelPageId" th:value="${pageId}" type="text" hidden>
    <input id="modelSummaryId" th:value="${summaryId}" type="text" hidden>

</div>

<div th:replace="fragments/common :: common-js"></div>
<script th:src="@{/js/app/detail.js}"></script>
</body>
</html>